.oneMenuOpen   {
  display: block;
  position: absolute;
  width:30vw;
  //max-width:60vw;
  min-width:450px;
  left:0;
  height:101vh;
  background: rgba(0,0,0,0.8);
  //z-index: 100;
  transition: width 0.2s ease-in;
}
.twoMenuOpen    {
  display: block;
  position: absolute;
  width:60vw;
  max-width:60vw;
  min-width:800px;
  left:0;
  height:101vh;
  background: rgba(0,0,0,0.8);
  transition: width 0.2s ease-in;
}
.threeMenuOpen   {
  display: block;
  position: absolute;
  width:100vw;
  max-width:60vw;
  //min-width:450px;
  left:0;
  height:101vh;
  background: rgba(0,0,0,0.8);
}