@import 'variables';
.menuItemStyle        {
  //display: block;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  width:30vw;
  //min-width:250px;
  font-family: "ComfortaaRegular";
  //font-size:1.4vw;
  font-size:1.4em;
  min-font-size: 1em;
  max-font-size: 2em;
  letter-spacing: 1px;
  color: white;
  height: 110px;
  vertical-align: middle;
  padding-left: 20px;
  //position:absolute;
}
.menuItemStyleReroved {
  width:30vw;
  min-width:30vw;
  height: 110px;
  line-height: 5.7em;
  padding-left: 20px;
}
.customMenuDiv          {
  height:92vh;
  width:100%;
  overflow-x:visible;

}
.customMenuScrollDiv  {
  height:92vh;
  position:absolute;
  width:110%;
  overflow-y:hidden;
  overflow-x:hidden;
}
.customMenuFirefoxScrollDiv
{
  height:92vh;
  position:absolute;
  width:115%;
  margin-right: -30px;
  overflow-y:auto;
  overflow-x:hidden;
}
.customMenuScrollDiv::-webkit-scrollbar
{
  width:0;
}
.customMenuScrollDiv::-webkit-scrollbar-track
{
  -webkit-border-radius: 6px;
  background-color: transparent;
}
.customMenuScrollDiv::-webkit-scrollbar-thumb
{
  -webkit-border-radius: 6px;
  background-color: transparent;
}

.menuBottom           {
  width:$menuItemWidth;
  height:5vh;
  //background: rgba(0,0,0,0.8);
  bottom:0;
}
.menuItemStyle:focus {
  @extend .menuItemStyle;
  width:110%;
  background:$menuHoverColor;
}
//.menuItemStyle>.staticItem>.divForFavorite:hover {
//  @extend .divForFavorite;
//  //width:90%;
//  //background:$menuHoverColor;
//}


.menuItemStyle:hover {
  @extend .menuItemStyle;
  width:110%;
  background:$menuHoverColor;
}
.menuItemStyleChosen   {
  @extend .menuItemStyle;
  background:$menuActiveColor;
  width:90%;

}
.circleButtonSpan     {
  width:40px;
  height:40px;
  position: relative;
  top:-53px;
  left:285px;
  visibility: visible;
}
.circleButtonSpanNone {
  visibility: hidden;
}
.menuChannel          {
  //width:900px;
  display: block;
  width:30vw;
  min-width:300px;
  height: 100vh;
  min-height: 30vh;
  position: absolute;
  top:0;
  left:0;
  z-index:2147483641;
  //background: rgba(0,0,0,0.8);
  transition: left 0.3s ease 50ms;
  //overflow: visible;
}
.menuChannelLeft      {
  @extend .menuChannel;
  left:30vw;
}
.menuChannelNone      {
  @extend .menuChannel;
  left:-6000px;
}
.divSideBar           {
  margin-right: 30px;
  margin-left:30px;
  //margin-t: 10px;
  text-align: center;
  width:70px;
  height:60px;
  //margin-top: 1vh;
  pointer-events: auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //pointer-events: auto;
  //visibility: hidden;
  //display: none;
}
.divSideBar:hover     {
  @extend .divSideBar;
  //margin-top: 3vh;
  cursor: pointer;
  border-radius: 50px;
  //width:50px;
  //height:50px;
  background: rgba(87, 87, 87, 0.6);

}
.divSideBar_menu
{ text-align: center;
  width:60px;
  height:60px;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  //line-height:5.5em;
  right:20px;
  position: absolute;
}
.divSideBar_menu:hover {
  @extend .divSideBar_menu;
  cursor: pointer;
  border-radius: 40px;
  background: rgba(87, 87, 87, 0.6);
}


.numberSpan           {
  width:20px;
  margin-left: 10px;
  margin-right: 20px;
}


.-reactjs-scrollbar-area {
  overflow-x:visible;
}