@import 'variables';
.menuItemStyle        {
  display: block;
  cursor: pointer;
  width:30vw;
  min-width:30vw;
  font-family: "ComfortaaRegular";
  font-size: 1.3em;
  letter-spacing: 1px;
  color: white;
  height: 110px;
  line-height: 5.7em;
  padding-left: 20px;
                      }
.menuItemStyleReroved {
  width:30vw;
  min-width:30vw;
  height: 110px;
  line-height: 5.7em;
  padding-left: 20px;
                      }

.customScrollDiv      {
  height:92vh;
  width:100%;
  overflow-y:auto;
  overflow-x:visible;

                      }
.customScrollDiv::-webkit-scrollbar-thumb
{
  width:3px;
  background-color: #545454;
}
.customScrollDiv::-webkit-scrollbar-track
{
  width:3px;
  background-color: rgba(255, 0, 0, 0);
}
.staticItem             {

  width:$menuChannelWidth;
  min-width: 400px;
  display:flex;
  height:100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menuBottom           {
  width:$menuItemWidth;
  height:5vh;
  //background: rgba(0,0,0,0.8);
  bottom:0;
}
.menuItemStyle:hover
{
  width:110%;
  background:$menuHoverColor;
}


.menuItemStyle:target {
  width:110%;
  background:$menuHoverColor;
}
.menuItemStyleChosen  {
  @extend .menuItemStyle;
  //width:110%;
  width:110%;
  background:$menuHoverColor;
}
.menuItemStylefocus   {
  @extend .menuItemStyle;
  background:$menuActiveColor;
  //width:110%;

                      }
.circleButtonSpan     {
  width:40px;
  height:40px;
  position: relative;
  top:-53px;
  left:285px;
  visibility: visible;
}
.circleButtonSpanNone {
  visibility: hidden;
}
.menuChannel          {
  //width:900px;
  display: block;
  width:30vw;
  min-width:30vw;
  height: 90vh;
  position: absolute;
  top:0;
  left:0;
  z-index:2147483641;
  //background: rgba(0,0,0,0.8);
  transition: left 0.3s ease 50ms;
  //overflow: visible;
                      }
.menuChannelLeft      {
  @extend .menuChannel;
  left:30vw;
}
.menuChannelNone      {
  @extend .menuChannel;
  left:-6000px;
}
.divSideBar           {
  margin-right: 30px;
  margin-left:30px;
  text-align: center;
  width:70px;
  height:60px;
  line-height:6.5;
  pointer-events: auto;
  //pointer-events: auto;
  //visibility: hidden;
  //display: none;
                      }
.divSideBar:hover     {
  @extend .divSideBar;
  cursor: pointer;
  border-radius: 50px;
  //width:50px;
  //height:50px;
  background: rgba(87, 87, 87, 0.6);
}
.divSideBar_menu
{ text-align: center;
  width:60px;
  height:60px;
  line-height:5.7em;
  right:20px;
  position: absolute;
}
.divSideBar_menu:hover {
  @extend .divSideBar_menu;
  cursor: pointer;
  border-radius: 40px;
  background: rgba(87, 87, 87, 0.6);
}


.numberSpan           {
  width:20px;
  margin-left: 10px;
  margin-right: 20px;
}


.-reactjs-scrollbar-area {
 overflow-x:visible;
}