@import 'variables';
$menu-width:250px;
.menuItemStyle        {
    display: block;
    cursor: pointer;
    width:$menuChannelWidth;
    min-width:$menuChannelWidth;
    //background: rgba(0,0,0,0.3);
    font-family: "ComfortaaRegular";
    //font-weight: bold;
    letter-spacing: 1px;
    color:white;
    height: 60px;
    line-height: 4.1em;
                      }
.menuItemStyle:hover  {
background: $hollowColor;
                      }
.menuItemStylefocus   {
  @extend .menuItemStyle;
  //width:320px;
  background: $main_color;

                      }
.circleButtonSpan     {
  width:40px;
  height:40px;
  position: relative;
  top:-53px;
  left:285px;
  visibility: visible;
                      }
.circleButtonSpanNone {
  visibility: hidden;
}
.menuChannel          {
  //@media only screen and (min-device-width: 480px) {
  //  height:200px;
  //                                                 }
  //@media only screen and (min-device-width: 1282px){
  //  height:1200px;
  //                                                 }
  //height:800px;
  height: 101vh;
  position: absolute;
  top:0;
  left:0;
  background: rgba(0,0,0,0.8);
  transition: left 0.5s ease 100ms;
                      }
.menuChannelLeft      {
  @extend .menuChannel;
  left:270px;
                      }
.menuChannelNone      {
  @extend .menuChannel;
  left:-500px;
                      }
.divSideBar           {
  //position:absolute;
  //text-align: center;
  //line-height: 3em;
  margin-top: 1.5%;
  margin-left:1.5%;
  text-align: center;
  width:50px;
  height:50px;
                      }
.divSideBar:hover     {
  @extend .divSideBar;
  cursor: pointer;
  border-radius: 40px;
  background: rgba(87, 87, 87, 0.6);
                      }
.numberSpan           {
  //position: relative;
  width:20px;
  margin-left: 10px;
  margin-right: 20px;
                      }
.span                 {
  display:block;
  width:20px;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  font-size:15px;
  letter-spacing: 1px;
                      }