.programList            {
  //@media only screen and (min-device-width: 480px) {
  //  height:200px;
  //                                                 }
  //@media only screen and (min-device-width: 1282px){
  //  height:1200px;
  //                                                 }
  //height:800px;
  height: 92vh;
  position: absolute;
  top:0;
  left:$menuItemWidth;
  //left:700px;
  //background: rgba(0,0,0,0.7);
  //transition: left 0.5s ease 100ms;
  //padding-top: 11vh;
  //padding-left: 20px;
  width:$menuItemWidth;
}
.dayListItem            {
  margin-top: 40px;
  display: block;
  font-family: "ComfortaaRegular";
  font-size:1em;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.programListItem        {
  //display:flex;
  //flex-direction: row;
  //justify-content:space-between;
  width:100%;
  //height:auto;
  height:55px;
  position:relative;
  color:white;
  padding-bottom:15px;
  padding-left:20px;
  padding-right:30px;
  padding-top: 15px;
  text-align: left;
}
.programListItemChosen   {
  @extend .programListItem;
  background:$menuActiveColor;
}

.programListItem:hover  {
  background:$main_color;
  cursor:pointer;
}
.headerProgramDate      {
  color:white;
  text-align: left;
  margin-left: 20px;
}
.textSpan               {
  color:$main_color;
  //text-align: left;
}
.hrProgram              {
  background:$main_color;
  //color:$main_color;
  //left: 15px;
  height: 2px;
  width: 100%;
  display: block;
  position: relative;
  left:-5px;
}
.programName            {
  height: 40px;
  margin-left: 10px;
  overflow:hidden;
  white-space:nowrap;
  //display: block;
  width:70%;
  position: absolute;
}
.programName_hover      {
  //@extend .programName;

  position: absolute;
}

.programTime            {
  color: #696969;
}
.blockChainDiv          {
  font-family: "ComfortaaRegular";
  font-size:20px;
  letter-spacing:1px;
}