@import 'variables';

.tvimg          {
  margin-right: 10px;
  //margin-left: 1vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width:5.5vw;
  height:5vw;
  min-height:35px;
  min-width: 35px;
}
.channelDivName {
  display: flex;
  flex-direction: row;
  flex-shrink: 3;
  justify-content: space-between ;
  align-items:center;
  position: relative;
  height: 100%;
  width:95%;
}
.pname          {
  margin-left: 20px;
  height: 60px;
  position: relative;
  white-space:nowrap;
  width:85%;
  line-height: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1vh;
}
.staticItem     {
  position: relative;
  //width:90%;
  width:29vw;
  min-width: 270px;
  display:flex;
  height:100%;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right:20px;
}
.pname_hover
{
  //position: relative;
  position: absolute;
  top:0;bottom:10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.pname_hover:hover
{
  //margin: auto;
  top:0;bottom:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pname_hover:focus
{
  margin: auto;
  top:0;bottom:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}



.pnameShadow
{
  position: absolute;
  left:90%;
  height: 110%;
  z-index: 30;
}

.divShadow
{
  @extend .pnameShadow;
  background: -webkit-linear-gradient(bottom, rgba(47, 79, 79, 0), #2f4f4f 5em, #2f4f4f);
  background: linear-gradient(0deg, rgba(47, 79, 79, 0), #2f4f4f 5em, #2f4f4f);
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.divForFavorite
{
  height:auto;
  //min-height: 20px;
  //min-height: 30px;
  min-width: 100px;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: relative;

}
.imgFav
{
  position: static;
  //left:1520px;
  //float:right;
  height: 1vw;
  width:1vw;
}
//.imgFav:hover      {
//  position: fixed;
//}
.rateContainer  {
  position: relative;
  top:45px;
  left:-5px;
  margin-right: 20px;
  float: right;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height:15px;
  width:50px;
  z-index: 31;
}
.rateDivFilled  {
  width: 7px;
  height: 7px;
  margin-right: 3px;
  border-radius: 5px;
  background: $main_color;
}
.rateDivFilledChosen {
  @extend .rateDivFilled;
  background: white;
}
.rateDivEmpty   {
  width: 7px;
  height: 7px;
  margin-right: 2px;
  border-radius: 5px;
  background: #686868;
}
.menuChannelName
{
  position: relative;
  margin-top: 7px;
  display:flex;
  flex-direction: column;
  height:6vw;
  flex-shrink: 4;
  min-height: 50px;
  width:90%;
  justify-content: space-between;
}
.progresses
{
  //max-width:300px;
  //max-width: 100%;
  position: inherit;
  width:95%;
  //min-width: 100px;
  //min-width: 10%;
  height:2px;
  //position: relative;
  background: #575757;
  display: block;
  //margin: auto;

}
.progresses[value] {
  color:$main_color;
}

.progressDives
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  //align-self: flex-end;
  //background: blue;
  width:100%;
  position:relative;
  height:1vh;
  padding-left: 20px;
  padding-right:10px;
  top:-1rem;
}
.epgShowButton  {
  //position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right:2.8rem;
  min-width: 40px;
  min-height:40px;
  max-width: 65px;
  max-height:65px;
  width:3.5vw;
  height:3.5vw;
  background: #6c4ad1;
  border-radius: 55px;
  position: relative;
  text-align: center;
  visibility: visible;
  flex-shrink: 0;
  z-index:100;
}
.epgArrow           {
  width:1vw;
  height:1vw;
}


.epgShowButtonInvis
{
  @extend .epgShowButton;
  visibility: hidden;
}
