$main_color: #9677ff;
//$menuItemWidth:20%;
//$menuChannelWidth:25%;
$menuItemWidth:350px;
$menuChannelWidth:350px;
//$menuItemWidth:30vw;
//$menuChannelWidth:30vw;
$hollowColor:  rgba(87, 87, 87, 1);
$backMenuColor:rgba(0,0,0,0.7);