$main_color: #9677ff;
$menuItemWidth:30vw;
$menuChannelWidth:30vw;
$menuCatWidth:30vw;
$backMenuColor: rgba(0,0,0,0.7);
//цвет при наведении на пункт меню
$menuHoverColor:#9677ff;
//цвет выбранного пункта
$menuActiveColor:rgba(87, 87, 87, 1);