$divPlayerWidth:80%;
$divPlayerWidthPx:1000px;
$plButtonsLeft:10%;
.centerDiv                         {
  //text-align: center;
  height: 100%;
  display:flex;
  display:-webkit-flex;
  flex-direction:column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  //z-index:2147483647;
                                   }
.centerDivFull                     {
  @extend .centerDiv;
  position: absolute;
  z-index:2147483647;
  top:85%;
  left:30%;
                                   }
.divPlayer                         {
  align-self: center;
  position: absolute;
  bottom:70px;
  left:$plButtonsLeft;
  width: $divPlayerWidth;
  max-width:$divPlayerWidth;
  min-width:0px;
  margin-bottom: 3vh;
  height: 70px;
  background: #805EE0;
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content:space-between;
  z-index:2147483647;
                                   }
.playerButtonsDiv                  {
  cursor:pointer;
  display:flex;
  display:-webkit-flex;
  margin: auto;
  width: $divPlayerWidth/3.7;
  min-width:200px;
  height: 40px;
  justify-content: space-between;
  -webkit-justify-content:space-between;
  align-items: center;
  -webkit-align-items: center;
                                   }
.playerButtonsDiv>i:hover          {
  text-shadow: 2px 2px 3px
  rgba(255,255,255,0.3),0 0 1em white;
                                   }
.playerButtonsDiv>img:hover        {
  //box-shadow: inset 0px 0px 60px 50px
  //rgba(255,255,255,0.6),0 0 2em white;
  //outline: 0;
  //filter:drop-shadow(12px,12px,7px,rgba(0,0,0,0.5));
  //border-radius: 170px;
                                   }
.videoTime                         {
  cursor: default;
  line-height: 2.9em;
  margin-left: 20px;
  margin-right: 20px;
  height: 60px;
  width:  50px;
  font-size: 1.4em;
  font-family: "ComfortaaRegular";
  letter-spacing:1px;
  color: white;
                                   }
.progressBar                       {
  position: absolute;
  top:80.5%;
  left:$plButtonsLeft;
  align-self: center;
  -webkit-align-self: center;
  height: 10px;
  width:$divPlayerWidth;
  max-width:$divPlayerWidth;
  min-width:350px;
  background:white;
                                   }

.progressBarFull                   {
  @extend .progressBar;
  top:84.3%;
                                   }
#progress-bar::-webkit-progress-bar
                                   {
  background: $main_color;
                                   }
#progress-bar::-webkit-progress-value
                                   {
  background:white;
                                   }
#progress-bar::-moz-progress-bar   {
  background:$main_color;
                                   }
.progressDiv                       {
  border-radius:5px;
  width:5px;
  height:5px;
  background: white;
                                   }

.progresses                        {
  width:200px;
  height:3px;
  position: relative;
  top:0px;
  left:10px;
  background: #575757;
                                   }

.progresses::-webkit-progress-bar  {
  background: #575757;
                                   }
.progresses::-webkit-progress-value
                                   {
background:$main_color;
                                   }
.progresses::-moz-progress-bar     {
background-color:$main_color;
//background: #575757;
//color:$main_color;
                                   }

.backwardActiveButton              {
width:25px;
height:20px;
opacity:0.3;
                                   }
.backwardDisButton                 {
@extend .backwardActiveButton;
opacity:0.3;
background:transparent;
                                   }