$divPlayerWidth:80%;
$divPlayerWidthPx:1000px;
$plButtonsLeft:10%;
.centerDiv                         {
  //text-align: center;
  height: 100vh;
  display:flex;
  display:-webkit-flex;
  flex-direction:column;
  -webkit-flex-direction:column;
  justify-content: center;
  -webkit-justify-content:center;
  //z-index:2147483647;
}
.centerDivFull                     {
  @extend .centerDiv;
  position: absolute;
  z-index:2147483647;
  top:85%;
  left:30%;
}
.divPlayer                         {
  align-self: center;
  position: absolute;
  bottom:115px;
  left:$plButtonsLeft;
  width: $divPlayerWidth;
  max-width:$divPlayerWidth;
  min-width:0;
  //margin-bottom: 5vh;
  height: 70px;
  background: #805EE0;
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content:space-between;
  z-index:2147483646;
                                   }
.playerButtonsDiv                  {
  cursor:pointer;
  display:flex;
  display:-webkit-flex;
  margin: auto;
  width: $divPlayerWidth/3.7;
  min-width:200px;
  height: 40px;
  justify-content: space-between;
  -webkit-justify-content:space-between;
  align-items: center;
  -webkit-align-items: center;
}
.playerButtonsDiv>i:hover          {
  text-shadow: 2px 2px 3px
  rgba(255,255,255,0.3),0 0 1em white;
}
.playerButtonsDiv>img:hover        {
  //text-shadow: 1px 1px 2px black, 0 0 1em red;
  //margin: 0 auto;
  box-shadow:inset 0 0 60px 50px
  rgba(255,255,255,0.6),0 0 2em white;
  background: transparent;
  //outline: none;
  //filter:drop-shadow(12px,12px,7px,rgba(0,0,0,0.5));
  //border-radius: 17px;
                                   }
.videoTime                         {
  cursor: default;
  line-height: 2.9em;
  margin-left: 20px;
  margin-right: 20px;
  height: 60px;
  width:  80px;
  font-size: 1.4em;
  font-family: "ComfortaaRegular";
  letter-spacing:1px;
  color: white;
                                    }
.progressBar                        {
  position: absolute;
  //bottom:0;
  //top:20px;
  //margin-bottom:20vh;
  //margin-bottom: 20vh;
  height: 10px;
  top:50%;
  width:100%;
  max-width:100%;
  min-width:350px;
  background:white;
                                   }
.divForProgress                    {
  position: absolute;
  align-self: center;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  -webkit-align-self: center;
  //@extend .progressBar;
  height:10px;
  //background-color: green;
  bottom:185px;
  left:10%;
  width:80%;
                                   }
.circleProgressDiv                 {
  position: relative;
  //left:$plButtonsLeft;
  //bottom:0;
  width:15px;
  height:15px;
  background:white;
  border-radius: 10px;
  z-index:2147483647;
                                   }

.progressBarFull                   {
  @extend .progressBar;
  //top:83.5%;
}
#progress-bar::-webkit-progress-bar
{
  background: $main_color;
}
#progress-bar::-webkit-progress-value
{
  background:white;
}
#progress-bar::-moz-progress-bar   {
  background:$main_color;
}
.progressDiv                       {
  border-radius:5px;
  width:5px;
  height:5px;
  background: white;
}

.progresses                        {
  display: inline;
  width:240px;
  min-width: 100px;
  height:3px;
  //position: absolute;
  top:0;
  left:10px;
  background: #575757;
}

.progresses::-webkit-progress-bar  {
  background: #575757;
}
.progresses::-webkit-progress-value
{
  background:$main_color;
}
.progresses::-moz-progress-bar     {
  background-color:$main_color;
  //background: #575757;
  //color:$main_color;
}

.backwardActiveButton              {
  width:25px;
  height:20px;
  opacity:0.3;
}
.backwardDisButton                 {
  @extend .backwardActiveButton;
  opacity:0.3;
  background:transparent;
}