.divBottomPlayer              {
  z-index:  2147483647;
  position: absolute;
  bottom: 30px;
  left:22%;
  //position: relative;
  align-self: center;
  -webkit-align-self: center;
  //left:20%;
  width: 70%;
  max-width: 80%;
  min-width: 150px;
  height: 70px;
  //rgba(0,0,0,0.1);
  display: flex;
  //flex-direction:row;
  justify-content: space-between;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.divBottomPlayerFull          {
  @extend .divBottomPlayer;
  z-index:2147483647;
  position: absolute;
  bottom:5%;
  left:40%;
}
.playerButtonsBottomDiv       {
  left:-10%;
  position:relative;
  display:flex;
  display:-webkit-flex;
  -webkit-align-self: center;
  width: 600px;
  max-width: 600px;
  min-width: 200px;
  height: 50px;
  justify-content: space-between;
  -webkit-justify-content:space-between;
  align-items: center;
  -webkit-align-items: center;
}
.playerButtonsBottomDivRes    {
  @extend .playerButtonsBottomDiv;
  left:24%;
  top:15%;
}
.iconsDiv                     {
  color: white;
  font-size: 13px;
  font-family: "RobotoMedium";
  font-weight: bold;
  margin: auto;
  //margin-left: 40px;
  //margin-top: 70px;
  width:55px;
  height:55px;
  text-align: center;
  padding-top: 15px;
}
.iconsDisabledDiv             {
  color: white;
  font-size: 13px;
  font-family: "RobotoMedium";
  font-weight: bold;
  margin: auto;
  //margin-left: 40px;
  //margin-top: 70px;
  width:55px;
  height:55px;
  text-align: center;
  padding-top: 15px;
  opacity:0.6;
}
.iconsNewResDiv               {
  @extend  .iconsDiv;
  margin-left: 400px;
}
.iconsLiveDiv                 {
  @extend .iconsDiv;
  line-height: 4.3em;
}
.iconsLockedDiv               {
  @extend .iconsDiv;
  //line-height: 4.3em;
  margin-left:100px;
}
.iconsDiv:hover               {
  @extend .iconsDiv;
  cursor:pointer;
  background:$main_color;
  border-radius:40px;
  position: inherit;
}
//Resolution Div
.iconResDiv                   {

  text-align: center;
  padding-top: 15px;
  width:60px;
  height:55px;
  position:absolute;
  //left:200px;
  right:5%;
  //margin-left: 12vw;
  //margin:auto;
  //left:85%;
  //margin-left: 10px;
  //min-width:60px;
  display:block;
}
.iconResDivFull               {
  @extend .iconResDiv;
  left:110%;
}
.iconResDiv:hover             {
  @extend .iconResDiv;
  cursor:pointer;
  background:$main_color;
  border-radius:40px;
  //position: inherit;
}
//
.upper_buttons_res            {
  margin: auto;
  color: white;
  position: relative;
  width:40px;
  height:20px;
  font-size: 13px;
  font-family: "RobotoMedium";
  font-weight: bold;
  line-height: 1.8em;
  //vertical-align: middle;
}
.upper_buttons_live           {
  @extend .upper_buttons_res;
  z-index:3;
  border:1px solid white;
  line-height: 2em;
}

.imgLive                      {
  position:relative;
  top:-5px;
}