video::-webkit-media-controls {
  display:none;
}
video::-moz-media-controls    {
  display:none;
}
video::media-controls         {
  display:none;
}
/*  Needed to hide player controls in Safari Only */

video::-webkit-media-controls-panel {
  display:none !important;
}

video::-webkit-media-controls-play-button {
  display: none !important;
}

video::-webkit-media-controls-current-time-display {
  display: none !important;
}

video::-webkit-media-controls-time-remaining-display {
  display: none !important;
}

video::-webkit-media-controls-timeline {
  display: none !important;
}

video::-webkit-media-controls-mute-button {
  display: none !important;
}

video::-webkit-media-controls-volume-slider {
  display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

//WebKit fullscreen Mode web
video::-internal-media-controls-download-button {
  display: none
}
video::-webkit-media-controls-panel-container {
  display: none !important;
}
//*Ms edge constrols disable*//
//video:fullscreen  {
//  @extend #video;
//}/////
/* Firefox Shadow DOM Fix */

*::-moz-list-bullet,
*::-moz-list-number {
  display:none !important;
}

*::-moz-meter-bar {
  display:none !important;
}

:-moz-full-screen:not(:root)::backdrop {
  display:none !important;
}

*::backdrop {
  display:none !important;
}



//:fullscreen:
.innerDiv                     {
  float:left;
  margin-left: 100px;
  margin-top: 20px;
}
//Progress Bar
//Bottom Invis Buttons
.span                         {
  float: left;
  //margin-right:15px;
  margin-left:15px;
}
.videoOnButtonsDiv            {
  position:relative;
  top:50%;
}
//Done video styles
.videoUsualDiv                {
  text-align:center;
  //
  min-height:480px;
  min-width:720px;
}
.videoUsual                   {
  align-self: center;
  width:  100%;
  min-height:480px;
  min-width:720px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  //top:0;
  //margin: auto;
  //text-align: center;
  //min-height:480px;
  //min-width:720px;
}
.videoContainDiv {
  @extend .videoUsual;
  margin: auto;
  width:1000px;
  height:300px;

}
.videoCover   {
  //height:50%;
  //width:100%;
  object-fit: cover;
}

.videoFill {
  //width:100%;
  //object-fit:cover
  object-fit:fill;
  top:50%;
  left:50%;

}
.videoContain {
  //width:100%;
  //object-fit:cover;
  object-fit:contain;
}
.videoNone {
  //width:100%;
  //object-fit:cover;
  object-fit:none;
}

.videoContain {
  width:100%;
  //object-fit:cover;
  object-fit:contain;
}

//Done video styles


#scrollBarDiv                 {
  width:  80%;
  height: 80%;
  display: none;
  top:0;
  overflow:scroll;

}
.errorsDiv                    {
  position:absolute;
  align-self: center;
  width:100vw;
  height:100vh;
  top:0;
  font:30px Times New Roman bold;
  color:white;
  text-align: center;
}
.playBackDiv                  {
  position: fixed;
  top:80%;
  z-index:2147483647;
}
.panelDiv                     {
  position: absolute;
  top:60%;
  width:100%;
  height:40%;
}




.videoDiv16                   {
  position: absolute!important;
  top: 5vh!important;
  left:0!important;
  height:90vh!important;
  width:100%!important;
  overflow: hidden!important;
  min-width: 1200px;
  min-height: 600px;
}

.video16                      {
  width:100%!important;
  height:100%!important;
  position: relative;
  object-fit: cover!important;
                              }


.videoDiv4                    {
  position: absolute!important;
  top: 0!important;
  left:10vw!important;
  height:100vh!important;
  width:80%!important;
  overflow: hidden!important;
                              }
.video4                      {
  width:100%!important;
  height:100%!important;
  position: relative;
  object-fit: cover!important;
}
//Div stgretchy wrapper
 figure {
  width: 36%;
  margin: 8px auto;
}

 .videoDiv169 {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  //background: black;
              }

.video169     {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  text-align: center;
              }